
/* FONT DEFAULTS */

h1 {
    font-size: 3em;
    color: rgb(0, 0, 0);
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif
}

    
.h2 {
    font-size: 3em;
    z-index: 200;
    color: rgb(0, 0, 0);
}
  
  /* BODY */
  
  body {
    justify-content: center;
    align-items: center;
      width: 100vw;
      height: 300px;
      background-color:#3FFFFF;
        margin: 0;
    }
  
  header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0075be;
}


.main-nav {
    overflow: hidden;
    position: relative;
    align-self: center;
    align-items: center;
    z-index: 1; 
}

/* Navbar links */
.main-nav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul {
    position: relative;
    list-style-type: none;
    display: inline;
    margin-left: auto; 
    margin-right: auto; 
    padding: 0;
}

li {
    float: left;
}

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .hero-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    height: 90vh;
    width: 40vw;
    min-width: 500px;
    background-color: #3FFFFF;
    z-index: 1;
  }


.hero h1 {
    padding-top: 15vh;
    padding-left: 2vw;
    margin: 0px;
    font-size: 3em;
    color: #0075be;
}

.hero p {
    padding-top: 16px;
    padding-bottom: 0;
    padding-left: 2vw;
    color: #0075be;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: inline;
}

.connect {
    margin-top: 5vh;
    margin-left: 2vw;
    height: 100px;
    width: 400px;
    display: flex;
    background-color: #FF8E6D;
    border-radius: 25px;
    border-width: 0;
    transition: 0.2s;
    cursor: pointer; 
}

.connect:hover {
    margin-top: 5vh;
    height: 100px;
    width: 420px;
    display: flex;
    background-color: #ff6e42;
    border-radius: 25px;
    border-width: 0;
    cursor: pointer;
}

.connect h1 {
    padding-top: 0px;
    padding-left: 0px;
    font-size: 3em;
    color: #0075be;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    text-align: center;
}

.connect img {
    height: 50px;
    width: 50px;
    margin: auto;
}

  .hero-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 45vw;
    min-width: 700px;
    z-index: 1;

  }

  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10vw;
    height: 90vh;
  }

  .hero-bubble {
    position: absolute;
    top: 25vh;
    left: 21vh;
    width: 30vh;
    height: auto;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.8));
  }

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 60vw;
    min-width: 700px;
    z-index: 100;
}

.hero-anz, .hero-swift, .hero-python, .hero-jira, .hero-html, .hero-css, .hero-wordpress, .hero-github, .hero-gpt, .hero-aem, .hero-adobe-analytics, .hero-anaconda, .hero-figma {
    position: absolute;
    height: 13vh;
    width: 13vh;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}

.about {
    position: relative;
    height: 100vh;
    display: flex;
    background-color: #A5FAFF;
    overflow: hidden;
    min-height: 700px;
}

.about-left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    height: 100vh;
    width: 45vw;
    background-color: #0075be;
    min-height: 700px;

}

.about-img {
    max-width: 40vw;
    height: auto;
    max-height: 600px;
}
.about-business-card-img {
    padding-top: 15vh;
    max-width: 20vw;
}

.about-right {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100vh;
    width: 55vw;
    background-color: #90ffeb;
    min-height: 700px;

}

.about h1 {
    padding-top: 15vh;
    padding-bottom: 16px;
    padding-left: 5vw;
    padding-right: 3vw;
    margin: 0px;
    font-size: 5em;
    text-align: left;
    color: #0075be;
}

.about p {
    padding-top: 16px;
    padding-bottom: 0;
    padding-left: 5vw;
    padding-right: 3vw;
    color: #0075be;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    position: relative;
    height: 100vh;
    display: flex;
    background-color: #A5FAFF;
    overflow: hidden;
    min-height: 700px;
}