.banner-img {
    max-width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;
}

.logo-img {
    max-width: 100px;
    height: auto;
    float: right;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    color: #007bff;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* This ensures that the items are aligned vertically in the center */
    padding: 0;
    /* Optional: Adds some padding on the sides */
    margin: 0px;
    margin-top: 50px;
    height: 100px;
    padding-bottom: 10vh;
}

header h1 {
    color: #007bff;
    text-align: left;
    font-size: 140px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 98px;
    margin-left: -11px;
    padding: 0;
    letter-spacing: -10px;
    line-height: 0.8;
    white-space: nowrap;
}

.divider-black-hole {
    width: 100vw;
    height: 1000px;
    margin-left: 0px;
    z-index: -1;
}

/* BODY */

body {
    background: linear-gradient(0deg, rgba(0, 125, 255, 1) 0%, rgba(0, 255, 222, 1) 30%, rgba(255, 0, 189, 1) 100%, rgba(0, 95, 255, 1) 70%);
    margin: 0;
    padding-left: 100px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/* FEATURED */

.featured {
    display: flex;
    max-width: 70vw;
    align-items: center;
    /* Vertical centering */
    margin: auto;
    /* Set left and right margins to auto */
}

.left-featured {
    width: 20vw;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.left-featured h2 {
    white-space: nowrap;
}

.right-featured {
    position: relative;
    overflow: hidden;
    width: 80vw;
    height: 30vw;
}

.right-featured-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: auto;
}

.right-featured-foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.featured-background-img {
    display: block;
    object-fit: cover;
    width: 85%;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.featured-foreground-img {
    display: block;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: auto;
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.featured-bottom {
    width: 100vw;
    margin-top: 0px;
    margin-left: -100px;
}

/* ABOUT */

.about {
    margin-left: 0px;
    width: 100vw;
    align-items: center;
    color: #000;
}

.about h1 {
    text-align: justify;
    font-size: 5vw;
    line-height: 0.72;
    color: #00ffff;
}

.about h2 {
    text-align: justify;
    font-size: 5vw;
    line-height: 0.715;
    letter-spacing: 0.1vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -0.5vw;
    padding: 0;
}

.words-l1 h2 {
    font-size: 5vw;
    letter-spacing: 0.2vw;
}

.words-l2 h2 {
    font-size: 5vw;
    letter-spacing: 0.9vw;
}

.words-l3 h2 {
    font-size: 5vw;
    letter-spacing: 0.1vw;
}

.words-l4 h2 {
    font-size: 5vw;
    letter-spacing: 0.31vw;
}

.words-l5 h2 {
    font-size: 4.8vw;
    letter-spacing: 0.93vw;
}

.words-l6 h2 {
    font-size: 5vw;
    letter-spacing: 0.52vw;
}

.words-l7 h2 {
    font-size: 5vw;
    letter-spacing: 0.25vw;
}

.words-l8 h2 {
    font-size: 5vw;
    letter-spacing: 0.4vw;
}

.words-l9 h2 {
    font-size: 5vw;
    letter-spacing: 0.85vw;
}

.words-l10 h2 {
    font-size: 5vw;
    letter-spacing: 0.41vw;
}

.words-l11 h2 {
    font-size: 5vw;
    letter-spacing: 0.15vw;
}

/* MY PHILOSOPHY */
.philosophy h1 {
    text-align: justify;
    font-size: 5vw;
    line-height: 0.72;
    color: #00ffff;
}

.philosophy h2 {
    text-align: justify;
    font-size: 5vw;
    line-height: 0.715;
    letter-spacing: 0.1vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -0.5vw;
    padding: 0;
}
/* PARRELAX COLLAGE */

.parallax-container {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

.pc-stars-img {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
    will-change: transform;
}

.pc-layer-img {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
    will-change: transform;
    filter: drop-shadow(5px 5px 5px #222);
    filter: saturate(180%);
}

.pc-flyer-img {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
    will-change: transform;
    filter: saturate(200%);
}

/* .pc-1-layer {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
}
.pc-2-layer {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
}
.pc-3-layer {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
}
.pc-4-layer {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
}
.pc-5-layer {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
}
.pc-6-layer {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
} */

.pc3 {
    height: 1500px;
}

/* GALLERY */

/* RESUME */

/* PROJECTS */

/* GOALS */

/* BUSINESS */

/* SOCIALS */

/* SPORT */

/* IDEAS */

/* ... */

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 72px;
        /* half the font size when text wraps */
        margin-top: 48px;
        line-height: 0.71;
        margin-left: -6px;
        letter-spacing: -5px;
        white-space: normal;
    }

    .featured {
        display: flex;
        max-width: 70vw;
        align-items: center;
        /* Vertical centering */
        margin: auto;
        /* Set left and right margins to auto */
    }

    .left-featured {
        width: 50vw;
        padding: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: x-large;

    }

    .left-featured h2 {
        white-space: nowrap;
    }

    .right-featured {
        max-width: 50vw;
        height: auto;
        padding: 0px;
    }

}


/* V2 Style */


@import url(https://fonts.googleapis.com/css?family=Roboto:100);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: auto;
  perspective: 1px;
  transform-style: preserve-3d;
}

body, body * {
  transform-style: preserve-3d;
}

.parallax-container {
  width: 100vw;
  max-width: 2880px;
  margin: 0;
}
.parallax-container :nth-child(1) {
  transform: translateZ(-0.4px) scale(1.4);
  z-index: -400;
  top: 0px;
  left: 0px;
}
.parallax-container :nth-child(2) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(3) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(4) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(5) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(6) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(7) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(8) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(9) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(10) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(11) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(12) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(13) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(14) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(1) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(16) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(17) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(18) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(19) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container :nth-child(20) {
    transform: translateZ(-0.4px) scale(1.4);
    z-index: -400;
    top: 0px;
    left: 0px;
}
.parallax-container > * {
  position: absolute;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  background: #EEF1F3;
  line-height: 1;
}

h1, h2 {
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 5em;
  color: #1586D1;
}

h2 {
  font-size: 3em;
  transform: translateZ(0.2px) scale(0.8);
  z-index: 200;
}