
.scroll-container {
    perspective: 10px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

.scroll-container, .hero, .hero-right, .bubbles {
transform-style: preserve-3d;
}


.hero-anz {
    top: 53vh;
    left: 43vh;
    transform: translateZ(1px) scale(1.5);
}

.hero-swift {
    top: 8vh;
    left: 5vh;
    transform: translateZ(2px) scale(1);
} 

.hero-python {
    top: 12vh;
    left: 50vh;
    transform: translateZ(-2px) scale(1);
}


.hero-jira {
    top: 32vh;
    left: 50vh;
    transform: translateZ(1.7px) scale(1);
}

.hero-html {
    top: 55vh;
    left: 4vh;
    transform: translateZ(0.5px) scale(1);
}

.hero-css {
    top: 25vh;
    left: -10vh;
    transform: translateZ(1px) scale(1);
} 

.hero-wordpress {
    top: 45vh;
    left: 60vh;
    transform: translateZ(-3px) scale(0.7);
}

.hero-github {
    top: 12vh;
    left: 43vh;
    transform: translateZ(2.3px) scale(1.1);

}
.hero-gpt {
    top: 5vh;
    left: 30vh;
    transform: translateZ(-2.6px)scale(1);

}

.hero-aem {
    top: 0vh;
    left: 25vh;
    transform: translateZ(2px) scale(0.8);

}

.hero-adobe-analytics{
    top: 20vh;
    left: 10vh;
    transform: translateZ(-0.8px) scale(1);
}

.hero-anaconda {
    top: 25vh;
    left: 62vh;
    transform: translateZ(-3px) scale(0.7);

}

.hero-figma {
    top: 40vh;
    left: 0vh;
    transform: translateZ(-0.8px) scale(0.8);

}
