
body {
}

.scroll-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* .no-scroll-container {
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
} */


.welcome,
.earth,
.bush,
.me,
.transition,
.timeline,
.conclusion,
.contact {
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
}

.uluru {
    scroll-snap-align: end;
}