
.scroll-container {
    perspective: 10px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

.scroll-container, .hero, .hero-right, .bubbles, .about, .about-right, .clouds {
    transform-style: preserve-3d;
}

.scroll-container, .about, .about-right, .clouds {
    transform-style: preserve-3d;
  }

.bubble1 {
    top: 48vh;
    left: 5vh;
    transform: translateZ(0.5px) scale(1);
}

.bubble2 {
    top: 8vh;
    left: 10vh;
    transform: translateZ(-0.1px) scale(1);
} 

.bubble3 {
    top: 12vh;
    left: 55vh;
    transform: translateZ(-0.5px) scale(1);
}


.bubble4 {
    top: 38vh;
    left: 40vh;
    transform: translateZ(1.7px) scale(1);
}

.abouthero-img {
    transform: translateZ(1px) scale(0.8);
}

.cloud1-img {
    top: 20vh;
    right: 0vh;
    transform: translateZ(0.5px) scale(1);
}

.cloud2-img {
    top: 0vh;
    right: 20vh;
    transform: translateZ(0.5px) scale(0.8);
} 

.cloud3-img {
    top: 15vh;
    right: 50vh;
    transform: translateZ(1.8px) scale(1);
}

.daydream-img {
    top: 40vh;
    right: 50vh;
    transform: translateZ(0.9px) scale(1) rotate(-20deg);
}
